body {
  background-color: lightpink;
}

.snow,
.snow:after,
.snow:before {
  content: "";
  max-height: 500px;
  position: absolute;
  top: -150px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff, transparent);

  background-size: 650px 650px;

  animation: snowAnimation 3s linear;
  animation-iteration-count: infinite;
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
}

.snow:before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
}

@keyframes snowAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200px);
  }
}

.name {
  width: 540px;
  height: 63px;
  margin: 40px auto 0px auto;
}

h1 {
  color: red;
  font-weight: 700;
  font-size: 35px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  width: 117px;
  height: 146px;
  background-color: rgb(247, 214, 214);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;
}

.front,
.back {
  width: 100px;
  height: 100px;
  padding: 20px;
  position: absolute;
  backface-visibility: hidden;
}

.cards.turned {
  transform: rotateY(180deg);
}

.back {
  transform: rotateY(-180deg);
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }

  .name {
    width: 100%;
  }

  h1 {
    font-size: 36px;
    text-align: center;
  }

  .game {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
